#frase {
    text-align: center;
    border: 5px rgb(118, 118, 222) outset; 
    margin-top: 0%; 
    font-size: 150%;
    color:rgb(11, 85, 222);  
}
#titulo{
    background-image: url(./img10.jpg);
    padding: 10px 10px ;
    border: 5px rgb(10, 10, 196) outset;
    text-align: center;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:600%;
    margin: 0 auto;
    margin-left: 5%;
    margin-right: 5%; 
    letter-spacing: 40px;
}

main{
    padding: 2rem;
}
#fomulario{
    justify-content: space-between;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
   
}
.div{
    flex-direction: column;
    width: 28rem;
    margin-bottom: 0.6rem;
    padding: 1px;
    margin-top: 15px;
    margin-left: 8px;
}

label{
    flex-direction: column;
    margin-bottom: 0.6rem;
    padding: 1px;
    margin-top: 30px;
    margin-left: 10px;
}
#select{
    background-color:rgb(224, 235, 238);
}
textarea{
    width: 95%;
    height:200px;
}
.tit{
    font-size: 2rem;
    color: rgb(16, 58, 137);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 10px 8px 10px  rgb(0, 0, 0);
}
.form{
    background-color: rgb(230, 230, 230);
    border: 2px solid black;
}
article{
    transition: box-shadow 0.4s linear;
    width: 700px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    box-shadow: 1px 4px  15px  8px rgb(169, 168, 168);
    cursor: pointer;
}

article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,1);
}

.foot{
    transition: color 0.3s;
    float: right;
    background: rgb(255, 255, 255);
    text-decoration: none;
    padding: 3px 3px;
    border-radius: 40px;
}
.foot2:hover{
    color: cornflowerblue;
    background: lightgray;
}
.foot:hover{
    color: cornflowerblue;
    background: lightgray;
}
#copyrigth{
    float: left;
    background: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10;
}
button{
    background: rgb(189, 187, 187);
    border: 1px solid black;
    padding: 1px;
    margin-bottom: 3px;
    margin-left: 3px;
}
button:hover{
    background-color: rgb(111, 111, 111);
}


.foot2{
    float: right;
    padding: 3px 3px;
    text-decoration: none;
    margin-right: 2px;
    border-radius: 40px;
 }
 @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    width: 100%;
    height: auto;
  }
}


